.overall__wrapper {
  grid-column-start: 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 10%) 50%;
  height: 80%;
  background: rgba(0, 0, 0, .7);
  padding: 10px;
  margin: 20px;
  color: #FFE769;
}

.overall__name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: 1px solid red;
}

.overall__power {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid blue;
  font-size: 1rem;
  font-weight: 600;
}