.overall__wrapper {
  grid-column-start: 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 10%) 50%;
  width: 80%;
  height: 80%;
  background: rgba(0, 0, 0, .7);
  padding: 20px;
  margin: 20px;
  color: #FFE769;
  font-size: 1.2rem;
  font-weight: 600;
}

.overall__name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.overall__power {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overall__display {
  padding: 10px 0;

  .display__content {
    height: 100%;
    background: #FFE769;
  }
}

.overall__formation {
  border: 2px solid #FFE769;
  background: inherit;
  color: #FFE769;
  padding: 0 20px;
  font-size: 1.1rem;
  letter-spacing: 2px;

  option {
    background: rgba(0, 0, 0, .8);
  }
}

.overall__manager {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}