.bench {
  background: grey;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;

  [class*=player__wrapper-] {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 2px;

    &:hover {
      .player {
        top: -45%;
      }
    }
  }

  .player {
    position: absolute;
    transition: 0.25s linear;
    top: 0;
  }
}