[class*=player__wrapper-] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.player {
  display: flex;
  width: 120px;
  height: 120px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #fff;
  padding: 10px;
  cursor: pointer;
}

.player__img {
  width: 70%;

}

.player__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
  height: 100%;
  padding: 0 5px 20px;
}

.info__club {
  height: 35%;
}

.info__nationality {
  height: 25%;
}

.picked {
  border: 2px solid blue;
}