.field__wrapper-1-4-1-3-2 {

  .player__wrapper-0,
  .player__wrapper-1 {
    width: 50%;
  }

  .player__wrapper-2,
  .player__wrapper-3,
  .player__wrapper-4 {
    width: 33%;
  }

  .player__wrapper-6,
  .player__wrapper-7,
  .player__wrapper-8,
  .player__wrapper-9 {
    width: 25%;
  }

  .player__wrapper-5,
  .player__wrapper-10 {
    width: 100%;
  }
}

.field__wrapper-1-4-4-2 {

  .player__wrapper-0,
  .player__wrapper-1 {
    width: 50%;
  }

  .player__wrapper-2,
  .player__wrapper-3,
  .player__wrapper-4,
  .player__wrapper-5 {
    width: 25%;
  }

  .player__wrapper-6,
  .player__wrapper-7,
  .player__wrapper-8,
  .player__wrapper-9 {
    width: 25%;
  }

  .player__wrapper-10 {
    width: 100%;
  }
}

.field__wrapper-1-4-1-2-1-2 {

  .player__wrapper-0,
  .player__wrapper-1 {
    width: 50%;
  }

  .player__wrapper-2 {
    width: 100%;
  }

  .player__wrapper-3,
  .player__wrapper-4 {
    width: 50%;
  }

  .player__wrapper-5 {
    width: 100%;
  }

  .player__wrapper-6,
  .player__wrapper-7,
  .player__wrapper-8,
  .player__wrapper-9 {
    width: 25%;
  }

  .player__wrapper-10 {
    width: 100%;
  }
}

.field__wrapper-1-4-2-3-1 {

  .player__wrapper-0 {
    width: 100%;
  }

  .player__wrapper-1,
  .player__wrapper-2,
  .player__wrapper-3 {
    width: 33%;
  }

  .player__wrapper-4,
  .player__wrapper-5 {
    width: 50%;
  }

  .player__wrapper-6,
  .player__wrapper-7,
  .player__wrapper-8,
  .player__wrapper-9 {
    width: 25%;
  }

  .player__wrapper-10 {
    width: 100%;
  }
}

.field__wrapper-1-4-2-2-2 {

  .player__wrapper-0,
  .player__wrapper-1 {
    width: 50%;
  }

  .player__wrapper-2,
  .player__wrapper-3 {
    width: 50%;
  }

  .player__wrapper-2 {
    align-items: flex-start;
  }

  .player__wrapper-3 {
    align-items: flex-end;
  }

  .player__wrapper-4,
  .player__wrapper-5 {
    width: 50%;
  }

  .player__wrapper-6,
  .player__wrapper-7,
  .player__wrapper-8,
  .player__wrapper-9 {
    width: 25%;
  }

  .player__wrapper-10 {
    width: 100%;
  }
}

.field__wrapper-1-3-3-2-2 {

  .player__wrapper-0,
  .player__wrapper-1 {
    width: 50%;
  }

  .player__wrapper-0 {
    .player {
      margin-left: 25%;
    }
  }

  .player__wrapper-1 {
    .player {
      margin-right: 25%;
    }
  }

  .player__wrapper-2,
  .player__wrapper-3 {
    width: 50%;
  }

  .player__wrapper-4 {
    align-items: flex-start;
  }

  .player__wrapper-6 {
    align-items: flex-end;
  }

  .player__wrapper-4,
  .player__wrapper-5,
  .player__wrapper-6 {
    width: 33%;
  }


  .player__wrapper-7,
  .player__wrapper-8,
  .player__wrapper-9 {
    width: 33%;
  }

  .player__wrapper-10 {
    width: 100%;
  }
}